.form-control::placeholder {
  color: rgb(14, 14, 14);
  opacity: 0.6;
}

.form-control:disabled {
  color: rgb(1, 1, 1);
  opacity: 0.7;
}

td a {
  text-decoration: underline;
}

ol li {
  cursor: pointer;
  text-decoration: underline;
}