.headin {
  height: 96px;
  width: 100%;
  background-image: url('./../assets/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}


@media screen and (min-width: 768px) {
  .headin {
    height: 180px;
    background-position: center center;
  }

}